<div class="row">
    <div class="col-12">
        <div class="list-group">
            <div class="list-group-item" *ngFor="let tutorial of tutorials">
                <h5><a [routerLink]="['./details', tutorial.title_link]" class="text-black-50">{{tutorial.title}}</a>
                </h5>
                <p>Created By: &nbsp;{{tutorial.author.name}}</p>
                <p>
                    <small>
            Created: {{tutorial.created_at}}&nbsp;
            Modified: {{tutorial.updated_at}}&nbsp;
            <span class="d-block d-sm-none clearfix"></span>
            Likes: {{tutorial.likes}}&nbsp;
            Comments: {{tutorial.comments}}&nbsp;
          </small>
                </p>
            </div>
        </div>
    </div>
</div>