<p>
    <b>User Name: </b>&nbsp;<a href="">{{sms.username}}</a>&nbsp;&nbsp;
    <b>Sender ID: </b>&nbsp;<a href="">{{sms.sender_id}}</a>&nbsp;&nbsp;
    <b>Receipients: </b>&nbsp;{{sms.recpct}}&nbsp;&nbsp;
    <b>SMS Length: </b>&nbsp;{{sms.msg_len}}&nbsp;&nbsp;
    <b>Sent: </b>&nbsp;{{sms.sentDate}}<br>
    <b>SMS Count: </b>&nbsp;{{sms.msg_cnt}}&nbsp;&nbsp;
    <b>Units Used: </b>&nbsp;{{sms.unitsSpent}}&nbsp;&nbsp;
    <b>From: </b>&nbsp;<a href="">{{sms.p_ref}}</a>&nbsp;&nbsp;
    <b>Units Before: </b>&nbsp;{{sms.unitsbefore}}&nbsp;&nbsp;
    <b>Units After: </b>&nbsp;{{sms.unitsAfter}}&nbsp;&nbsp;
</p>