<div class="row">
    <div class="col-sm-6 mx-auto">
        <form class="form mt-5 shadow-sm p-3 bg-secondary text-white-50 rounded" name="resetPass" method="POST" role="form" (submit)="resetpass()">
            <h3 class="text-center">Reset Password </h3>
            <p>Hi <b>{{user?.name}}</b> choosing to change your password is our recommendation. So you have made the best decission to change your password. Fill in the form bellow to Edit your password.</p>

            <div class="form-group mt-3">
                <div>
                    <input type="password" name="current_Password" [(ngModel)]="pass.current_password" class="form-control" placeholder="Enter Current Password" />
                    <span class="text-danger" *ngIf="errs.current_password">{{errs.current_password[0]}}</span>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="password" name="password" [(ngModel)]="pass.password" class="form-control" placeholder="Enter New Password" />
                    <span class="text-danger" *ngIf="errs.password">{{errs.password[0]}}</span>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="password" name="password_confirmation" [(ngModel)]="pass.password_confirmation" class="form-control" placeholder="Repeat Password" />
                    <span class="text-danger" *ngIf="errs.password_confirmation">{{errs.password_confirmation[0]}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="clearfix">
                    <a [routerLink]="[ '/account' ]" class="btn btn-lg btn-primary"> Back to Profile</a>
                    <input type="submit" [disabled]="isSubmiting" class="btn btn-lg btn-success float-right" value="SAVE" />
                </div>
            </div>
        </form>
    </div>
</div>