<div class="row">
    <div class="col-12">
        <div class="card bg-info">
            <div class="card-header">
                <h3 class="text-center">
                    My App
                </h3>
                <ul class="nav nav-pills card-header-pills text-white">
                    <li class="nav-item">
                        <a [routerLink]="['./']" class="nav-link text-white">Home</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['./edit']" class="nav-link text-white">Edit</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['./messages']" class="nav-link text-white">Messages</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['./web-hooks']" class="nav-link text-white">WebHooks</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['./settings']" class="nav-link text-white">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['./statistics']" class="nav-link text-white">Statistics</a>
                    </li>
                </ul>
            </div>
            <div class="card-bordy">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
</div>